*{
    margin: 0;padding: 0;
}
body{
    font-family: Microsoft Yahei,Arial, Helvetica, sans-serif;
}
/*@font-face{
    font-family: 'helveti';
    src: url('../font/helveti.ttf');
}*/
ul{
    list-style: none;
}
h3{
    font-weight: 200;
}
body{
    overflow-x: hidden;
}
img{
    cursor: pointer;
}
.window{
    /*border-bottom: 1px solid #BDBDBD;*/
    position: relative;
    top: -10px;
    height: 890px
}
/* 滚动条移动时 顶部导航栏的样式 */
.fixed{
    top: -110px !important;
}
.g-header-container{
    width: 100%;
    height: 66px;
    background: #fff;
    position: fixed;
    top: 0px;
    left:0px;
    transition: .3s;
    -webkit-transition:.3s;
    /*box-shadow: 0px 0px 1px rgba(0, 0, 0, .3);*/
    z-index: 10;
}
.g-header-container .g-box{
    min-width: 1440px;
    height: 66px;
    position: relative;/*相对定位*/
    margin-top: 10px;
}
.g-header-container .g-box .yh-logo{
    margin: 1px 80px 0 0;
    position: relative;
    float: left;
    height: 56px;
    width: 139px;
    box-sizing: border-box;
    padding-left: 20px;
    background: #fff;
    min-width: 139px;
}
.yh-logo{
    display: inline-block;
}

a{
    text-decoration: none;/*取消下划线*/
}
.g-header-container .g-box .g-head-center{
    background-color: #fff;
}
.g-header-container .g-head-nav{
    float: left;/* 设置浮动*/
    margin-right:40px ;
    height: 66px;
    line-height: 66px;
}
.g-header-container .g-head-nav li{
    float: left;
    height: 50px;
    line-height: 52px;
    margin-right: 10px;/* 外边距*/
    position: relative;
}
.g-header-container .g-head-nav li:first-child a{
    border-radius: 2px;
}
.g-header-container .g-head-nav li .current{
    color: #fff;
    padding: 0 19px;
    border: 0;
    background-color: #2fb3ff;
    height: 56px;
    line-height: 50px;

}
.g-header-container .g-head-nav li a{
    position: relative;
    display: inline-block;
    padding: 0 18px;
    height: 47px;
    line-height: 52px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
}
.g-header-container .g-head-nav li a:hover{
    color: #188eee;
    transition:color 0.5s;
}
.g-header-container .g-head-nav li:hover{
    box-sizing: border-box;
    vertical-align: middle;
}
/* 登录样式开始 */
.login-item input{
    width: 350px;
    height: 40px;
}
.login-item a{
    display: block;
    width: 350px;
    height: 50px;
    background:#b03939;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
}
.login-item{
    margin-top: 25px;
    margin-left: 20px;
}
#loginbox{
    display: none;
   /* position: absolute;
    width: 395px;
    height: 300px;
    background-color: #fff;
    top: 40px;
    z-index: 12;
    right: 0px;*/
}
/* 登录样式结束 */

.san_j{
    background: url("../images/sanjiao_06.png");
    width: 14px;
    height: 10px;
    display: block;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: -1px;
    background-color: transparent;
}
.nav-wrap{
    margin: 0 25%;
}
 .g-ucenter{
    position: absolute;
    right: 16%;
     height: 50px;
     line-height: 50px;
 }
.g-ucenter .u-register, .g-ucenter .u-login, .g-ucenter span{
    display: inline-block;/*设为行内块元素*/
    height: 50px;
}
.g-ucenter .u-login{
    float: left;
    margin-right: 4px; ;
}
.g-ucenter span{
    height: 11px;
    border: 0  solid rgba(0, 0, 0, 0.68);
    border-right-width: 1px;
    border-left-width: 1px;
    margin-top: 18px;
}
.g-ucenter a{
    color:rgb(83, 75, 75);
    font-weight: 600;
}
.g-ucenter .u-register{
    width: 40px;
    margin-left: -3px;
}
 .g-head-footer{
    width: 100%;
    height: 30px;
    background-color: rgb(234,235,239);
    position: relative;
    top: 75px;
    /*z-index: 11;*/
}
.bigBox{
    position: relative;
    width: 1040px;
    height: 420px;
    margin-top: -4px;
}
.pic{
	width:1040px;
	height:420px;
	position:relative;
}
.pic img{
	position:absolute;
	top:0;left:0;
    margin-top: 18px;
    cursor: pointer;/* 设置鼠标样式*/
    display: none;/* 隐藏*/
}
.bigBox .list{
    width: 100px;
    height: 20px;
    /*background: rgba(0,0,0,.5);*/
    position: absolute;
    bottom: 8px;
    left: 470px;/* (1040-100)/2  设置居中*/
}
.bigBox .list li{
    width: 15px;
    height: 15px;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    margin: 7px;
    box-sizing: border-box;
}
.bigBox .list .hover{
    background-color: rgb(139, 171 ,210);
}
.but li{
    width: 48px;
    height: 70px;
    cursor: pointer;
    color:  transparent;/*rgb(129, 182, 243)*/
    font-size: 32px;
    text-align: center;/* 文本居中*/
    line-height: 70px;/* 高度居中*/
    position: absolute;
    top: 176px;/* 高度居中 (1040-70)/2*/
}
.but li:hover{
    background: rgba(0,0,0,0.5);
    color: transparent;
}
.but .left{
    left: 6px;
}
.but .right{
    right: 22px;
}
.info-header{
    position: relative;
    background-color: rgb(234,235,239);
    width: 1040px;
    height: 400px;
}
.time-header{
    height: 45px;
    text-align: center;
    padding-top: 10px;
}
.info-box{
    position: relative;
}
.latest-box{
    color: #9a9696;
    position:relative;
    top: -3px;
}
.time-header .latest-box:before{
    display: inline-block;
    width: 156px;
    height: 2px;
    background-color: rgb(78,168,230);
    vertical-align: 26%;
    margin-right: 3px;
    content: "";
}
.time-header .latest-box:after{
    display: inline-block;
    width: 156px;
    height: 2px;
    background-color: rgb(78,168,230);
    vertical-align: 26%;
    margin-left: 3px;
    content: "";
}
.time-latest{
    width: 520px;
    height: 400px;
}
.latest-left{
    width: 480px;
    height: 330px;
    margin: auto 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    position: relative;
}
.latest-left_box{
    margin: 11px;
}
.latest-lest_top{
    position: relative;
}
.p-info{
    position: absolute;
    width: 247px;
    height: 25px;
    top: 175px;
}
.p-info span{
    height: 25px;
    width: 80px;
    line-height: 25px;
    position: absolute;
    bottom: 17px;
    right: 0px;
    background: rgba(145, 145, 151, 0.47);
    text-align: center;
    color: rgba(255, 255, 255, 0.96);
    font-weight: 700;
}
.latest-lest_top{
    width: 247px;
    height: 183px;
    box-shadow: 3px 3px 4px 1px #888;
}
.latest-lest_bottom_time{
    margin-top: 7px;
}
.latest-lest_bottom_time .ship{
    position: relative;
    float: left;
    margin-right: 3px;
}
.latest-lest_bottom_time .ship img{
    box-shadow: 1px 1px 2px 1px #888;
}
.ship .ship-info{
    width: 80px;
    height: 29px;
    position: absolute;
    top: 88px;
    background-color: rgba(0,0,0,.55);
    text-align: center;
    line-height: 29px;
    color: #fff;
}
.ship .ship-info .timeout-info:before{
    content: "实时信息";
    display: inline-block;
    height: 25px;
    width: 80px;
    line-height: 25px;
    background: rgba(33, 33, 37, 0.59);
    position: absolute;
    text-align: center;
    color: rgba(255, 255, 255, 0.96);
    font-weight: 700;
    top: -90px;
    left: 0px;
}
.latest-right_box{
    position: absolute;
    top: 6px;
    right: 8px;
}
.latest-right_box li{
    margin-top: 8px;
    position: relative;
}
.latest-right_box span{
    width: 50px;
    height: 20px;
    right: 0px;
    bottom:7px;
    line-height: 20px;
}
.latest-right_box span, .right-top_pic .right-info{
    display: inline-block;
    position: absolute;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    background-color:rgba(228, 214, 214, 0.48);
}
.latest-right_box img,.right-top_pic img{
    box-shadow: 2px 2px 2px 1px #888;
}
.time-latest.right{
    position: absolute;
    top: 0px;
    right: 0px;
}
.right-_pic{
    width: 480px;
    height: 130px;
    margin: auto 20px;
    border: 2px solid #fff;
    border-radius: 5px;
}
.right-top_pic{
    position: relative;
    margin: 8px;
}
.right-top_pic img{
    margin:3px;
    float: left;
}
.right-top_pic .right-info{
    width: 78px;
    height: 30px;
    line-height: 30px;
}
.right-top_pic .right-info.top{
    top: 3px;
    left: 3px;
}
.right-top_pic .right-info.right{
    top: 3px;
    right: 5px;
}
.right-top_pic .right-info.left{
    left: 3px;
    top: 84px;
}
.right-top_pic .right-info.bottom{
    right: 5px;
    top: 84px;
}
.right-_pic.bottom{
    height: 150px;
    position: relative;
    /*top: -9px;*/
    box-sizing: border-box;
    padding: 2px 0 2px 1px;
}
.right-_pic.bottom li{
    float: left;
    margin: 5px;
}
.right-_pic.bottom .right-bottom_pic img{
    -webkit-box-shadow:  0 0 5px 1px #888;
    -moz-box-shadow:  0 0 5px 1px #888;
    box-shadow: 0 0 5px 1px #888;
}
/*設置中間內容自動居中*/
#container{
    width: 1040px;
    margin: 0 auto;
    position: relative;
    top: 63px;
}
/* 底部边框线 */
.footer-bar{
    border:1px solid #bdbdbd;
    width: 100%;
    margin-top: 10px;
}

/* 运河信息样式设置 */
.g-header-container .g-head-nav.yuheInfo li a{
    font-weight: lighter;
    
}
/* 第一个a标签背景颜色  #71b0fd*/
.g-head-nav.yuheInfo li .current{
    height: 56px;
    z-index: 22;
    background-color: transparent;  /*设置背景色透明*/
}
.g-head-nav.yuheInfo .current:before{
    content: '';
    display: inline-block;
    background-color: #71b0fd;
    width: 82px;
    z-index: -1;
    top: -9px;
    margin-left: -4px;
    border-radius: 2px;
    height: 53px;
    position: absolute
}
/* 设置标题信息*/
.title_info{/* 
    width: 475px;
    height: 120px; */
    margin: 0 auto;
    text-align: center;
    /*margin-top: 40px;*/
    position: relative;
    top: 110px;
}
.title_info p{
    background-color: #71b0fd;
    height: 4px;
    width:32px;
    margin: 23px auto;
}

/* 底部消息区域样式设置 */
.footer_info{
    position: relative;
    top: 80px;
}

.footer_info .serveInfo{
    width: 475px;
    height: 91px;
    margin: 0 auto;
    /*text-align: center;*/
    margin-top: 30px;
    line-height: 120px;

}
.footer_info .serveInfo span{
    width: 101px;
    box-sizing: border-box;
    display: inline-block;
    height: 90px;
    font-size: 20px;   
    text-align: center;
    margin: 0 65px;
    cursor: pointer;

}
.footer_info .serveInfo span:hover{
    border-bottom: 2px solid #71b0fd;
    transition-delay: 0.2s;
}

/* 底部消息查看区域样式*/
.footer_info_container{
    width: 100%;
    box-sizing:border-box;
    height: 1671px;
    background-color: #e9ebee;
    padding-top: 60px; 
}
.footer_info_container .info_content{
    width: 1104px;
    height: 1605px;
    margin: 0 auto;
}
.footer_info_container .info_content .spot_news{
    /*font-family: helveti;*/
    margin-top: 6px;
}
.footer_info_container .info_content .bottom_info {
    position: relative;
}
.footer_info_container .info_content .bottom_info p{
    font-size: 17px;
    font-weight: 700;
    border-right: 3px solid #71b0fd;
}
.footer_info_container .info_content .bottom_info ul{
    margin-top: 21px;
}
.footer_info_container .info_content .spot_news li{
    height: 225px;
    width: 750px;
    margin-bottom: 41px;
}
.bottom_info .spot_news p{
    width: 750px;
}
.spot_news .text{   
    float: left;
    width: 380px;
    margin-top: 20px;
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
}
.bottom_info .info_pic{
    float: right;
    position: relative;
    top: -25px;
}

/* 右边链接信息样式 */
.categries{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 282px;
    border-bottom: 2px solid #9b9b9b;
}
.categries li{
    margin: 16px auto;
}
.categries li a{
    color: #9b9b9b;
}
.categries li span{
    float: left;
    margin-right: 13px;
    margin-top: 4px;
}
.categries  h3{
    display: inline-block;
}
.history_info img{
    float: left;
}
.history_info{
    position: relative;
    top: 180px;
}
.history_info .text{
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
}
.history_info li{
    margin: 39px auto;
    width: 315px;
    height: 104px;
}
.history_info .history_info_left{
    float: left;
    margin-left: 8px;
    width: 154px;
    height: 93px;
}
.history_info .history_info_left h3{
    font-size: 14px;
}
.history_info .history_info_left .text{
    font-size: 12px;
    margin-top: 8px;
}

/* 底部页码选择样式*/
.footer_info_container .viewbox{
    position: relative;
    bottom: 65px;
    width: 750px;
    margin: 0 auto;
}
.viewbox .posts_num{
    margin-left:; 
}
.viewbox .posts_num .pager{
    float: left;
}
.posts_num .pager a{
    margin-right: 8px;
    color: #2d64b3; 
}
.posts_num .pager a:hover{
    color: #71b0fd;
    transition:color .4s; 
}
.posts_num .reply_num{
    color: #666;
}
.posts_num .reply_num .jump_input_bright{
    width: 30px;
    height: 20px;
    border: 1px solid #bdbdbd;
}
 .posts_num .reply_num .btn-small{
    margin-left: 20px;
    padding: 4px 8px;
    font-size: 12px;
    line-height: normal!important;
 }
    